<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="tituloApp" value="Proyecto"/>
		<add key="versionApp" value="1.0.0"/>
		<add key="datbaseConnectionString" value="datasource=localhost;port=3306;username=root;password=1234;database=sakila;"/>
	</appSettings>
</configuration>